.leftPanel {
  padding: 20px;
  overflow-y: auto;
  flex: 1;
  cursor: url(../../assets/cursor-cross.svg) 58 60, pointer;
}

.document {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.pageContainer {
  position: relative;
  display: inline-block;
  margin-bottom: 20px auto;
  text-align: center;
}

.pdfPage {
  display: block;
  width: 100%;
  max-width: fit-content;
  height: auto;
  border: 1px solid #ccc;
  display: inline-block;
}

.pageWrapper {
  display: inline-block;
  position: relative;
  max-width: 100%;
}
