.leftPanel {
  padding: 20px;
  overflow-y: auto;
  flex: 1;
}

.document {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.pageContainer {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.pdfPage {
  display: block;
  width: 100%;
  max-width: fit-content;
  height: auto;
  border: 1px solid #ccc;
}

.selectionOverlay {
  position: absolute;
  border: 2px dashed red;
  background-color: rgba(255, 0, 0, 0.2);
  pointer-events: none;
  z-index: 10;
}
