.rightPanel {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  border-left: 1px solid #ccc;
  position: relative;
}

.blocksList {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}
